.aboutUsBody{
    display: flex;
}

.aboutUsText{
    flex:6;
}

.aboutUsImg{
    flex:6;
}

.aboutUsImg img{
    height: 456px;
    width: 510px;
}

.aboutUsText ,h1 {
    margin-left: 10%;
}

.aboutUsText p{
    width: 75%;
    word-spacing: 5px;
}