.showButton{
    color: white;
    background-color: #3c6255;
    border: 1px solid #3c6255;
    padding: 3px 8px;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 50px;
}

.showButton:hover{
    background-color: white;
    color: #3c6255;
}

.showResultTable tr td{
    border: #3c6255 2px solid;
    width: 300px;
    text-align: left;
    padding-left: 30px;
    
}

.showResultTable thead td{
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}

.showResultTable tbody td{
    font-size: 20px;
}

.headSectionBox{
    margin-left: 100px;
    margin-top: 70px;
}

.headText{
    margin-right: 50px;
    background-color: #3c6255;
    padding: 5px 20px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

.headInput{
    font-size: 20px;
}

.showResultTable{
    margin-top: 50px;
}

