.footer-l{
    height: 390px;
    margin-bottom: -10px;
    width: 100%;
    background-color: #3c6255;
    display: flex;
}

.footerBox-l{
    background-color: #84a98c;
    width: 27%;
    height: 80%;
    border-radius: 10%;
    color: white;
    text-align: center;
}

.footerBoxTitle-l{
    padding-top: 6%;
    font-size: x-large;
}

.tableDataIcon-l{
    width: 10%;
    color: #1b2425;
}

.tableDat-l{
    padding-top: 10%;
}


/* medium screen */

.footerBox-t{
    background-color: #84a98c;
    width: 40%;
    height: 80%;
    border-radius: 10%;
    color: white;
    text-align: center;
}

/*small screen*/

.footer-s{
    width: 100%;
    background-color: #3c6255;
    padding: 10px 0;
}

.footerBox-s{
    background-color: #84a98c;
    width: 90%;
    border-radius: 10%;
    color: white;
    text-align: center;
    position: relative;
    margin-top: 8%;
}

.footerBoxTitle-l:hover{
    color: #1b2425;
    cursor: pointer;
}

