.footer{
    background-color: #3c6255;
    width: 100%;
    height: 392px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -375px;
    color: white;
    font-family: sans-serif;
}


.footerCenter{
    flex: 4;
}

.footerRight{
    flex: 4;
    height: 100%;
    width: 100%;
}

.container{
    background-color: #84a98c;
    height: 80%;
    width: 25%;
    border-radius: 20px;
    padding: 20px;
}

.footerTopic{
    font-size:x-large;
    font-weight: bolder;
}

.footerIcon{
    height: 32px;
}

.footerTable{
    margin-left: 30px;
    margin-top: 20px;
}

.footerTableData{
    padding: 15px;
}

.list{
    list-style: none;
    padding: 20px;
    margin: 0;
}