

.textBox{
    font-size: 180%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.desc{
    background-color: #636e72;
    padding: 1%;
    border-radius: 15px;
    color: #a1df83;
}

.count{
    margin-left: -10%;
    background-color: #636e72;
    padding: 1%;
    border-radius: 15px;
    color: #a1df83;
    
}

.iconBox{
    margin-top: 7%;
}

table tr td{
    text-align: center;
    padding: 3%;
    width: 10%;
}

.icon{
    transform: scale(2.5);
}

.iconDesc{
    color: white;
    background-color: #636e72;
    padding: 5% 10%;
    border: none;
    border-radius: 18px;
    border: transparent 1px solid;
}

.iconDesc:hover{
    color: #636e72;
    background-color: white;
    border: #636e72 1px solid;
}