.navBar-l{
    background-color: #84a98c;
    width: 100%;
    height: auto;
    display: flex;
    padding: 10px 0;
}

.logo-l{
    width: 100px;
    height: 100px;
    margin-left: 8%;
    border-radius: 20px;
}

.navBarMiddle-l{
    flex: 6;
    display: flex;
}

.navBarItem-l{
    font-family: sans-serif;
    color: white;
    font-size: 150%;
    text-decoration: none;
}

.navBarItem-l:hover,.navBarItem-t:hover{
    color: #3c6255;
}

.navBarRight-l{
    flex: 3;
    display: flex;
}

.navBarButton-l{
    margin-left: 5%;
    background-color: #3c6255;
    border: none;
    color: white;
    padding: 14px 20px;
    border-radius: 15px;
}

.navBarButton-l:hover,.navBarButton-t:hover{
    border: 1px solid #fec900;
    color: #fec900;
}

/* Tablet size */
.logo-t{
    width: 75px;
    height: 75px;
    margin-left: 8%;
    border-radius: 20px;
}

.navBarItem-t{
    font-family: sans-serif;
    color: white;
    font-size: 100%;
    text-decoration: none;
}

.navBarButton-t{
    margin-left: 5%;
    background-color: #3c6255;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
}


/* small screen device */
.logo-s{
    width: 60px;
    height: 60px;
    margin-left: 8%;
    border-radius: 12px;
}

.menuIcon{
    color: white;
    position: relative;
    right: -60px;
}

.navBarButtonLink{
    color: white;
    text-decoration: none;
}

.navBarButtonLink:hover{
    color: #fec900;
}